@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins", serif;
}

body {
    background-color: #222831;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation a {
    text-decoration: none;
    color: #eeeeee;
}

.navigation a:hover {
    color: #00adb5;
}

hr{
    opacity: 10%;
}



.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}

.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5erm);
}

.herosub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name {
    font-size: 3rem;
    color: #eeeeee;
}

.title {
    font-size: 4rem;
    color: #00adb5;
}

.heroBtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.hireMe {
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5)
}

.cv {
    background-color: rgba(57, 62, 70, 0.75);
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
}


.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.textTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName {
    color: #eeeeee;
}
.aboutTitle {
    color: #00adb5;
}
.aboutMePar {
    text-align: justify;
    color: rgba(238, 238, 238, 0.75);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-between;
    gap: 2ream;
    margin: 2ream auto;
    max-width: 1200px;
}

.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #eeeeee;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}

.contact h3, .conatct a {
    color: #eeeeee;
    text-decoration: none;
}

.emailandphone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 3rem;
}

.socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(57, 62, 70, 0.75);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialMedia img {
    width: 24px;
    height: 24px;
}

.footer {
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 1023px) {
    header {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .hero {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .heroImg {
      width: 400px;
    }
    .name,
    .title {
      font-size: 2rem;
    }
    .arrow {
      display: none;
    }
    .aboutMe {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }
    .textContainer {
      align-items: center;
      margin: 0rem 5rem;
      gap: 1rem;
    }
    .aboutName,
    .aboutTitle {
      font-size: 2rem;
    }
    .light {
      width: 60px;
    }
    .aboutMeImg {
      width: 400px;
    }
    .works {
      padding: 0;
    }
        .worksContainer {
          padding: 5rem 0rem;
          gap: 3rem;
        }
    }
